.App {
  text-align: center;
}

button {
  margin: 1.5% auto;
}

.error {
  color: red;
}

.joke {
  border: 1px solid gray;
  border-radius: 25px;
  width: 50%;
  margin: auto;
  padding: 1.5%;
}

.joke h4 {
  text-decoration: underline;
}
